@font-face {
  font-family: "CourierPrimeBold";
  src: local("CourierPrimeBold"), url("../fonts/CourierPrimeBold.woff2") format("woff2"),
    url("../fonts/CourierPrimeBold.otf") format("opentype");
}

html {
  font-family: "CourierPrimeBold";
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

#centered-container {
  position: absolute;
  height: 655px;
  width: 518px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#game-container {
  position: relative;
}

#webgl {
  position: absolute;
  z-index: 1;
  top: 66px;
  left: 59px;
}

#tv {
  position: absolute;
  z-index: 4;
  pointer-events: none;
}

#overlay {
  position: absolute;
  z-index: 2;
  top: 66px;
  left: 59px;
  pointer-events: none;
}

#glare {
  position: absolute;
  z-index: 3;
  top: 66px;
  left: 59px;
  pointer-events: none;
}

#github {
  position: absolute;
  z-index: 5;
  top: 584px;
  left: 302px;
}

#mobile {
  position: absolute;
  width: 518px;
  fill: #5d564e;
  top: 654px;
  font-weight: bold;
  font-size: 25px;
}
